{% extends "base.html" %}

{% block content %}
<!--О компании-->
<main>
  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Добро пожаловать на Angels Shop</h1>
        <p class="lead">Молодая и быстро развивающаяся компания по продаже одежды. Наша цель изменить жизнь людей, сделав простым доступ к огромному количеству качественных и недорогих товаров, предоставляя лучший сервис.</p>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg border=0">
        <a class="border=0">
          <img class="rounded-lg-3" src="../static/img/about/about.jpg" alt="" height="400">
        </a>
      </div>
    </div>
  </div>
</main>

{% endblock %}