{% extends "base_without_search.html" %}

{% block content %}

<!--<link rel="stylesheet" type="text/css" href="../static/css/catalog.css">-->

<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            {% if list_items == [] %}
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <h1 class="fw-bold mb-0 text-black">В Корзине пока ничего нет</h1>
                                    </div>
                                    <a href="/" class="text-black" style="text-decoration: none"><h2
                                            class="pb-3 pt-4 border-top">Вернуться на главную</h2></a>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Корзина</h1>
                                        <h6 class="mb-0 text-muted">Количество товаров: {{ count }}</h6>
                                    </div>
                                    <hr class="my-4">
                                    {% for elem in list_items %}

                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img
                                                    src="../static/img/products/{{ elem[3] }}/{{ elem[4] }}"
                                                    class="img-fluid rounded-3" alt="">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted">{{ elem[1] }}</h6>
                                            <h6 class="text-black mb-0">{{ elem[0] }}</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <!--                          <button class="btn btn-link px-2"-->
                                            <!--                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">-->
                                            <!--                            <i class="fas fa-minus"></i>-->
                                            <!--                          </button>-->

                                            <!--                          <input id="form1" min="0" name="quantity" value="1" type="number"-->
                                            <!--                            class="form-control form-control-sm" />-->

                                            <!--                          <button class="btn btn-link px-2"-->
                                            <!--                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">-->
                                            <!--                            <i class="fas fa-plus"></i>-->
                                            <!--                          </button>-->
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0">{{ elem[2] }} ₽</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="/delete_from_cart/{{ elem[5] }}" class="text-muted"><i
                                                    class="bi bi-x-lg"></i></a>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    {% endfor %}

                                    <div class="pt-4">
                                        <a href="/" class="text-black" style="text-decoration: none"><h2>Вернуться на
                                            главную</h2></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Итого</h3>
                                    <hr class="my-4">
                                    <form class="mt-4" action="" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="form-outline row form-white">
                                            <div class="col">
                                                {{ form.name(class="form-control form-control-lg", type=text,
                                                placeholder="Имя")
                                                }}<br>
                                                {% for error in form.name.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col">
                                                {{ form.surname(class="form-control form-control-lg", type=text,
                                                placeholder="Фамилия")
                                                }}<br>
                                                {% for error in form.surname.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                        <div class="form-outline form-white">
                                            {{ form.number_card(class="form-control form-control-lg", type=number,
                                            placeholder="1234 5678 9012 3457", minlength=16, maxlength=19) }}<br>
                                            {% for error in form.number_card.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                {{ form.month(class="form-control form-control-lg", type=number,
                                                minlength=2, maxlength=2, placeholder="ММ") }}<br>
                                                {% for error in form.month.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col">
                                                {{ form.year(class="form-control form-control-lg", type=number,
                                                minlength=2, maxlength=2, placeholder="ГГ") }}<br>
                                                {% for error in form.year.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="row-md-6">
                                            {{ form.cvv(class="form-control form-control-lg", type=number,
                                            size="3", placeholder="CVV", minlength=3, maxlength=3) }}<br>
                                            {% for error in form.cvv.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                            {% endfor %}
                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between mb-5">
                                            <h5 class="text-uppercase">Итоговая цена</h5>
                                            <h5>{{ total }} ₽</h5>
                                        </div>
                                        {% if message != 0 %}
                                            <div class="d-flex justify-content-between mb-5">
                                                <h5 class="text-uppercase">{{ message }}</h5>
                                            </div>
                                        {% endif %}
                                        <p>{{ form.submit(type="submit", class="btn btn-dark btn-block btn-lg", style="data-mdb-ripple-color:dark")}}</p>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}